{% extends "base.html" %}
{% block content %}
  
    <!-- Breadcrumb section start -->
    <section class="breadcrumb-section section-b-space">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Compare</h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Compare</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb section end -->

    <!-- Compare Section Start -->
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="comparemodal-body">
                        <div class="table-wrapper table-responsive ratio_asos">
                            <table class="table table-striped-1">
                                <tbody>
                                    <tr class="table-product-details">
                                        <td></td>

                                        <td>
                                            <div class="product-box">
                                                <div class="product-image">
                                                    <a class="w-100 blur-up lazyload" href="javascript:void(0)">
                                                        <img src= {%  static "assets/images/fashion/product/front/1.jpg" %}
                                                            class="img-fluid bg-img blur-up lazyload" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-details">
                                                    <div>
                                                        <a href="javascript:void(0)">
                                                            <h6 class="fw-bold">Jockey Men's Regular Fit
                                                                T-Shirt</h6>
                                                        </a>
                                                    </div>

                                                    <div class="price-details mt-2">
                                                        <h6 class="font-green">$25.59
                                                            <span class="font-light mx-2">$89.99</span>
                                                            <span class="theme-color">20% off</span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="product-box">
                                                <div class="product-image">
                                                    <a class="w-100 blur-up lazyload" href="javascript:void(0)">
                                                        <img src= {%  static "assets/images/fashion/product/front/2.jpg" %}
                                                            class="img-fluid bg-img blur-up lazyload" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-details">
                                                    <div>
                                                        <a href="javascript:void(0)">
                                                            <h6 class="fw-bold">Columbia Men's Synthetic
                                                                Jacket</h6>
                                                        </a>
                                                    </div>

                                                    <div class="price-details mt-2">
                                                        <h6 class="font-green">$65.25
                                                            <span class="font-light mx-2">$70.65</span>
                                                            <span class="theme-color">40% off</span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="product-box">
                                                <div class="product-image">
                                                    <a class="w-100 blur-up lazyload" href="javascript:void(0)">
                                                        <img src= {%  static "assets/images/fashion/product/front/3.jpg" %}
                                                            class="img-fluid bg-img blur-up lazyload" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-details">
                                                    <div>
                                                        <a href="javascript:void(0)">
                                                            <h6 class="fw-bold">Columbia Men's Jacket</h6>
                                                        </a>
                                                    </div>

                                                    <div class="price-details mt-2">
                                                        <h6 class="font-green">$98.99
                                                            <span class="font-light mx-2">$109.50</span>
                                                            <span class="theme-color">30% off</span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="product-box">
                                                <div class="product-image">
                                                    <a class="w-100 blur-up lazyload" href="javascript:void(0)">
                                                        <img src= {%  static "assets/images/fashion/product/front/4.jpg" %}
                                                            class="img-fluid bg-img blur-up lazyload" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-details">
                                                    <div>
                                                        <a href="javascript:void(0)">
                                                            <h6 class="fw-bold">Columbia</h6>
                                                        </a>
                                                    </div>

                                                    <div class="price-details mt-2">
                                                        <h6 class="font-green">$80.00
                                                            <span class="font-light mx-2">$40.00</span>
                                                            <span class="theme-color">50% off</span>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="table-cart-button">
                                        <td></td>
                                        <td>
                                            <a href="cart.html" class="btn btn-solid-blue">+ Add to cart</a>

                                        </td>
                                        <td>
                                            <a href="cart.html" class="btn btn-solid-blue">+ Add to cart</a>

                                        </td>
                                        <td>
                                            <a href="cart.html" class="btn btn-solid-blue">+ Add to cart</a>

                                        </td>
                                        <td>
                                            <a href="cart.html" class="btn btn-solid-blue">+ Add to cart</a>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Customer Rating</td>
                                        <td>
                                            <div class="d-flex align-items-center my0">
                                                <ul class="rating my-0">
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star"></i>
                                                    </li>
                                                </ul>

                                                <span class="font-light ms-2">(22 reviews)</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center my0">
                                                <ul class="rating my-0">
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star"></i>
                                                    </li>
                                                </ul>

                                                <span class="font-light ms-2">(17 reviews)</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center my0">
                                                <ul class="rating my-0">
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                </ul>

                                                <span class="font-light ms-2">(5 reviews)</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center my0">
                                                <ul class="rating my-0">
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star theme-color"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star"></i>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-star"></i>
                                                    </li>
                                                </ul>

                                                <span class="font-light ms-2">(26 reviews)</span>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td>BRAND</td>
                                        <td>Zara</td>
                                        <td>Allen Solly</td>
                                        <td>H&M</td>
                                        <td>Nike</td>

                                    </tr>

                                    <tr>
                                        <td>Generic Name</td>
                                        <td>T-Shirt</td>
                                        <td>Shirt</td>
                                        <td>Jackets</td>
                                        <td>Blazers</td>
                                    </tr>

                                    <tr>
                                        <td>Department</td>
                                        <td>Men</td>
                                        <td>Men</td>
                                        <td>Men</td>
                                        <td>Men</td>
                                    </tr>

                                    <tr>
                                        <td>Manufacturer</td>
                                        <td>PAGE INDUSTRIES LIMITED</td>
                                        <td>PAGE INDUSTRIES LIMITED</td>
                                        <td>Shreenath Lifestyle Pvt. Ltd.</td>
                                        <td>Shreenath Lifestyle Pvt. Ltd.</td>
                                    </tr>

                                    <tr>
                                        <td>color</td>
                                        <td>Black, Yellow, Marron</td>
                                        <td>Blue, Cream, Black</td>
                                        <td>Military Color</td>
                                        <td>Black, Gold</td>
                                    </tr>

                                    <tr>
                                        <td>Date First Available</td>
                                        <td>28 July 2015</td>
                                        <td>25 March 2021</td>
                                        <td>25 February 2017</td>
                                        <td>27 April 2021</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Compare Section End -->

    <!-- Subscribe Section Start -->
    <section class="subscribe-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="subscribe-details">
                        <h2 class="mb-3">Subscribe Our News</h2>
                        <h6 class="font-light">Subscribe and receive our newsletters to follow the news about our fresh
                            and fantastic Products.</h6>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                    <div class="subsribe-input">
                        <div class="input-group">
                            <input type="text" class="form-control subscribe-input" placeholder="Your Email Address">
                            <button class="btn btn-solid-default" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe Section End -->

    <!-- footer start -->
    <footer class="footer-sm-space">
        <div class="main-footer">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-contact">
                            <div class="brand-logo">
                                <a href="index.html" class="footer-logo">
                                    <svg class="svg-icon">
                                        <use class="fill-color" xlink:href="assets/svg/icons.svg#logo"></use>
                                    </svg>
                                    <img src= {%  static "assets/images/logo.png" %} class="img-fluid blur-up lazyload" alt="logo">
                                </a>
                            </div>
                            <ul class="contact-lists">
                                <li>
                                    <span>
                                        <b>phone:</b>
                                        <span class="font-light"> + 185659635</span>
                                    </span>

                                </li>
                                <li>
                                    <span>
                                        <b>Address:</b>
                                        <span class="font-light"> 1418 Riverwood Drive, Suite 3245
                                            Cottonwood, CA 96052, United States</span>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <b>Email:</b>
                                        <span class="font-light"> Voxo123@gmail.com</span>
                                    </span>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="footer-links">
                            <div class="footer-title">
                                <h3>About us</h3>
                            </div>
                            <div class="footer-content">
                                <ul>
                                    <li>
                                        <a href="index.html" class="font-dark">Home</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html" class="font-dark">Shop</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html" class="font-dark">About Us</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html" class="font-dark">Blog</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html" class="font-dark">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-links">
                            <div class="footer-title">
                                <h3>New Categories</h3>
                            </div>
                            <div class="footer-content">
                                <ul>
                                    <li>
                                        <a href="shop-left-sidebar.html" class="font-dark">Latest Shoes</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html" class="font-dark">Branded Jeans</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html" class="font-dark">New Jackets</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html" class="font-dark">Colorfull Hoodies</a>
                                    </li>
                                    <li>
                                        <a href="shop-left-sidebar.html" class="font-dark">Shiner Goggles</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-links">
                            <div class="footer-title">
                                <h3>Get Help</h3>
                            </div>
                            <div class="footer-content">
                                <ul>
                                    <li>
                                        <a href="user-dashboard.html" class="font-dark">Your Orders</a>
                                    </li>
                                    <li>
                                        <a href="user-dashboard.html" class="font-dark">Your Account</a>
                                    </li>
                                    <li>
                                        <a href="order-tracking.html" class="font-dark">Track Orders</a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html" class="font-dark">Your Wishlist</a>
                                    </li>
                                    <li>
                                        <a href="faq.html" class="font-dark">Shopping FAQs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 d-none d-sm-block">
                        <div class="footer-newsletter">
                            <h3>Let’s stay in touch</h3>
                            <div class="form-newsletter">
                                <div class="input-group mb-4">
                                    <input type="text" class="form-control" placeholder="Your Email Address">
                                    <span class="input-group-text" id="basic-addon4"><i
                                            class="fas fa-arrow-right"></i></span>
                                </div>
                                <p class="font-dark mb-0">Keep up to date with our latest news and special offers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row gy-3">
                    <div class="col-md-6">
                        <ul>
                            <li class="font-dark">We accept:</li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src= {%  static "assets/images/payment-icon/1.jpg" %} class="img-fluid blur-up lazyload"
                                        alt="payment icon"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src= {%  static "assets/images/payment-icon/2.jpg" %} class="img-fluid blur-up lazyload"
                                        alt="payment icon"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src= {%  static "assets/images/payment-icon/3.jpg" %} class="img-fluid blur-up lazyload"
                                        alt="payment icon"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src= {%  static "assets/images/payment-icon/4.jpg" %} class="img-fluid blur-up lazyload"
                                        alt="payment icon"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-0 font-dark">© 2022, Voxo Theme. Made with heart by Pixelstrap</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!-- Quick view modal start -->
    <div class="modal fade quick-view-modal" id="quick-view">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row gy-4">
                        <div class="col-lg-6">
                            <div class="quick-view-image">
                                <div class="quick-view-slider">
                                    <div>
                                        <img src= {%  static "assets/images/fashion/product/front/4.jpg" %}
                                            class="img-fluid blur-up lazyload" alt="product">
                                    </div>
                                    <div>
                                        <img src= {%  static "assets/images/fashion/product/front/5.jpg" %}
                                            class="img-fluid blur-up lazyload" alt="product">
                                    </div>
                                    <div>
                                        <img src= {%  static "assets/images/fashion/product/front/6.jpg" %}
                                            class="img-fluid blur-up lazyload" alt="product">
                                    </div>
                                    <div>
                                        <img src= {%  static "assets/images/fashion/product/front/7.jpg" %}
                                            class="img-fluid blur-up lazyload" alt="product">
                                    </div>
                                </div>
                                <div class="quick-nav">
                                    <div>
                                        <img src= {%  static "assets/images/fashion/product/front/4.jpg" %}
                                            class="img-fluid blur-up lazyload" alt="product">
                                    </div>
                                    <div>
                                        <img src= {%  static "assets/images/fashion/product/front/5.jpg" %}
                                            class="img-fluid blur-up lazyload" alt="product">
                                    </div>
                                    <div>
                                        <img src= {%  static "assets/images/fashion/product/front/6.jpg" %}
                                            class="img-fluid blur-up lazyload" alt="product">
                                    </div>
                                    <div>
                                        <img src= {%  static "assets/images/fashion/product/front/7.jpg" %}
                                            class="img-fluid blur-up lazyload" alt="product">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-right">
                                <h2 class="mb-2">Men's Hoodie t-shirt</h2>
                                <ul class="rating mt-1">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="font-light">(In stock)</li>
                                </ul>
                                <div class="price mt-3">
                                    <h3>$20.00</h3>
                                </div>
                                <div class="color-types">
                                    <h4>colors</h4>
                                    <ul class="color-variant mb-0">
                                        <li class="bg-half-light selected"></li>
                                        <li class="bg-light1"></li>
                                        <li class="bg-blue1"></li>
                                        <li class="bg-black1"></li>
                                    </ul>
                                </div>
                                <div class="size-detail">
                                    <h4>size</h4>
                                    <ul class="">
                                        <li class="selected">S</li>
                                        <li>M</li>
                                        <li>L</li>
                                        <li>XL</li>
                                    </ul>
                                </div>
                                <div class="product-details">
                                    <h4>product details</h4>
                                    <ul>
                                        <li>
                                            <span class="font-light">Style :</span> Hoodie
                                        </li>
                                        <li>
                                            <span class="font-light">Catgory :</span> T-shirt
                                        </li>
                                        <li>
                                            <span class="font-light">Tags:</span> summer, organic
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-btns">
                                    <button type="button" class="btn btn-solid-default btn-sm"
                                        data-bs-dismiss="modal">Add to cart</button>
                                    <button type="button" class="btn btn-solid-default btn-sm"
                                        data-bs-dismiss="modal">View details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick view modal end -->
{% endblock content %}
