{% extends "base.html" %}
{% block content %}
  
    <!-- Breadcrumb section start -->
    <section class="breadcrumb-section section-b-space">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Review</h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Review</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb section end -->

    <!-- Review Section Start -->
    <section class="review-section section-b-space">
        <div class="container">
            <div class="row g-4 grid">
                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>This was a great experience. I explained to Greg what I was looking for and he brought
                                samples with him that met my criteria exactly as to product quality and price. He was
                                very knowledgeable about the products and very easy to work with. I was able to schedule
                                the work within two weeks of signing the contract and they were able to do the demo and
                                installation in two days.</p>

                            <p>They did a very good job on the installation and they also cleaned up after themselves,
                                including vacuuming the newly laid carpet. I have never had a carpet installer do that!
                                Everyone I spoke with at Tish was very accommodating. I highly recommend them.</p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/1.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>Tish installed hardwood flooring in our dining room and family room. Greg Hollinden
                                measured, provided reasonable quote and provided outstanding installation. Their
                                installer, Shane did a superior job. Future flooring needs will be addressed by Tish!
                            </p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/2.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>I was very impressed with the service I received from Tish Flooring. They we’re prompt,
                                courteous and professional. It was a fantastic value for my money and they followed up
                                to make sure I was happy with their service. Everyone I came in contact with was
                                wonderful! I would highly recommend Tish Flooring.</p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/3.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>Tish Flooring has been great from the beginning to the end of this transaction … Very
                                professional, well priced, and extremely customer service oriented.</p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/4.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>Great. They are a great company to deal with. Came out very timely, always had good
                                follow up, very nice people to deal with and reasonably priced. I would definitely use
                                them again.</p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/5.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>They were wonderful! Excellent all the way through! We had the carpet picked out and they
                                were so easy to work with. They are highly communicative and respond efficiently! We
                                would use them again in a heartbeat!</p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/1.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>They are very professional and their craftsmanship is a testament to the pride in their
                                work.</p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/2.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>We would like thank Tish Flooring for a great product and to compliment the installers
                                for the excellent service they provided. We were very pleased with the overall quality
                                of service we received. Both installers displayed professionalism and the ability to get
                                the work done in an efficient and timely manner.</p>

                            <p>Most of all, they were knowledgeable about their product and eager to answer all of our
                                questions. We were astonished with the end product and will be sure to mention Tish
                                Flooring to friends and family who are in need of new flooring. Such a commitment to
                                great customer service is to be commended.</p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/3.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>A very positive experience from start to finish! They were very accommodating of my
                                schedule, reasonably priced, very professional and neat during installation.</p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/4.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>Tish was very professional. They were also one of the most responsive companies I have
                                ever worked with. I would email or call, and get a response within a couple hours at
                                max. My project manager went above and beyond to find me the carpet color I wanted in
                                the quality I desired. We will definitely use them again when we replace our upstairs
                                carpet.</p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/5.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>They do great work. They are very fair, very timely, and great to work with.</p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/1.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-lg-4 col-sm-6">
                    <div class="review-box">
                        <div class="review-name">
                            <p>From the first contact the process was smooth and very professional…</p>
                        </div>
                        <div class="review-image">
                            <div class="review-profile">
                                <img src= {%  static "assets/images/inner-page/review-image/2.jpg" %}
                                    class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <i class="fas fa-quote-right"></i>
                            <div class="image-name">
                                <h3>John wike</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Review Section End -->

    <!-- Subscribe Section Start -->
    <section class="subscribe-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="subscribe-details">
                        <h2 class="mb-3">Subscribe Our News</h2>
                        <h6 class="font-light">Subscribe and receive our newsletters to follow the news about our fresh
                            and fantastic Products.</h6>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                    <div class="subsribe-input">
                        <div class="input-group">
                            <input type="text" class="form-control subscribe-input" placeholder="Your Email Address">
                            <button class="btn btn-solid-default" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe Section End -->

{% endblock content %}
 